---
import BaseLayout from "../layouts/BaseLayout.astro";
import resourcesJSON from "../data/resources.json";

const showPoster = false;
---

<BaseLayout showPoster={showPoster}>
    <div class="container pb-4 bg-light">
        <div class="section-title">Resources</div>
        <div class="accordion" id="accordionExample">
            {
                resourcesJSON.map((resource, i) => (
                    <div class="card">
                        <div class="card-header" id={`heading${i}`}>
                            <h2 class="mb-0">
                                <button
                                    class="btn btn-link btn-block text-left"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target={`#collapse${i}`}
                                    aria-expanded="true"
                                    aria-controls={`collapse${i}`}
                                >
                                    {resource.title}
                                </button>
                            </h2>
                        </div>

                        <div
                            id={`collapse${i}`}
                            class={i == 0 ? "collapse show" : "collapse"}
                            aria-labelledby={`heading${i}`}
                            data-parent="#accordionExample"
                        >
                            <div class="card-body">
                                <p class="text-info">
                                    {resource.links.map((link, j) => (
                                        <>
                                            {j + 1}.
                                            <a
                                                class="text-info"
                                                href={link.url}
                                            >
                                                {link.text}
                                            </a>
                                            <br />
                                        </>
                                    ))}
                                </p>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</BaseLayout>
